@page "/404"

<PageTitle>Stronger Softworks - 404 Page Not Found</PageTitle>

<section id="hero" class="hero error-hero section accent-background">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-12 d-flex flex-column flex-wrap align-content-center align-items-left justify-content-center">
                <h1>404 page not found</h1>
                <h2 class="mb-5">go home?</h2>
                <a href="/" class="btn-enter"><i class="bi bi-arrow-return-left"></i> enter</a>
            </div>
        </div>
    </div>
</section>
