<div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3">
        <h4 class="my-0 fw-normal">@PricePackage.Name</h4>
        <h6 class="card-subtitle mb-2 mt-1 text-body-secondary">@PricePackage.SubTitle</h6>
    </div>
    <div class="card-body">
        <h5 class="card-title pricing-card-title">
            $@PricePackage.Price
        </h5>
        <h6>
            $@PricePackage.RecurringPrice<small class="text-body-secondary fw-light">/@PricePackage.Frequency</small>
        </h6>
        <ul class="list-unstyled mt-3 mb-4">
            @foreach (var inclusion in PricePackage.Inclusions)
            {
                <li>@inclusion</li>
            }
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">@PricePackage.CTA</button>
    </div>
</div>


@code {
    [Parameter, EditorRequired]
    public Package PricePackage { get; set; }
}