@using StrongerSoftworks.Models

@code {
    [Parameter] public FaqSectionModel FaqData { get; set; }
}

<section id="@(FaqData.Id ?? "faq")" class="faq section">
    <!-- Section Title -->
    <div class="container section-title">
        <h2>@FaqData.SectionTitle</h2>
        <p>@FaqData.SectionDescription</p>
    </div><!-- End Section Title -->

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <FrequentlyAskedQuestions Faqs="@FaqData.FaqItems" />
            </div>
        </div>
    </div>
</section>

