@using Microsoft.AspNetCore.Html

@code {
    [Parameter] public required HeroSectionModel HeroData { get; set; }
}

<section id="@(HeroData.Id ?? "hero")" class="hero section accent-background">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-12 d-flex flex-column flex-wrap align-content-center align-items-center justify-content-center">
                <h1 class="mb-5">@HeroData.Title</h1>
                <a href="@HeroData.ButtonLink" class="btn-enter">@((MarkupString)(HeroData.ButtonText))</a>
            </div>
        </div>
    </div>
</section>

