<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" asp-append-version="true">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" asp-append-version="true">

    <!-- Main CSS File -->
    <StylesSheets />

    <HeadOutlet />
</head>

<body>
</body>
<body class="index-page">
    <Header />

    <main class="main" role="main" data-bs-spy="scroll" data-bs-target="#navmenu" data-bs-offset="0" tabindex="0">
        <Routes />
    </main>

    <Footer />

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    @* <script src="_framework/blazor.web.js"></script> *@

    <VendorScripts />

    @* <script src="/vendor/glightbox/js/glightbox.min.js" asp-append-version="true"></script> *@
    @* <script src="/vendor/purecounter/purecounter_vanilla.js" asp-append-version="true"></script> *@
    @* <script src="/vendor/swiper/swiper-bundle.min.js" asp-append-version="true"></script> *@
    @* <script src="/vendor/imagesloaded/imagesloaded.pkgd.min.js" asp-append-version="true"></script> *@
    @* <script src="/vendor/isotope-layout/isotope.pkgd.min.js" asp-append-version="true"></script> *@

    <Scripts />
</body>
</html>
