<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CWECCTZQSJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-CWECCTZQSJ');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Stronger Softworks helps businesses grow online with custom website design, responsive development, and expert SEO services.">

    <!-- Favicons -->
    <link href="/bundle/img/icon/icon-32.avif" rel="icon">
    <link href="/bundle/img/icon/icon-128.avif" rel="apple-touch-icon">

    <!-- Main CSS File -->
    <VendorStylesSheets />
    <StylesSheets />

    <HeadOutlet />
</head>

<body>
    <Header />

    <main class="main" role="main" data-bs-spy="scroll" data-bs-target="#navmenu" data-bs-offset="0" tabindex="0">
        <Routes />
    </main>

    <Footer />

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" aria-label="Scroll to top of page" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    @* <script src="_framework/blazor.web.js"></script> *@
    <VendorScripts />
    <Scripts />
</body>
</html>
