.navbar-toggler {
    border: 0 !important;

    &:focus {
        border: 0 !important;
        box-shadow: none !important;
    }
}

.dropdown-menu {
    background-color: var(--background-color);
    border: none;
    border-radius: 0;
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);

    a {
        color: var(--bs-nav-link-color);
    }
}

.dropdown-menu a:hover,
.dropdown-menu a:focus {
    background-color: var(--background-color);
    color: var(--bs-nav-link-hover-color);
}

.dropdown-item {
    &.active {
        background-color: var(--background-color);
        color: var(--bs-navbar-active-color);
    }
}

.header {
    --background-color: rgba(0, 0, 0, 0);
    --default-color: #ffffff;
    --heading-color: #ffffff;
    color: var(--default-color);
    background-color: var(--background-color);
    transition: all 0.5s;
    z-index: 997;

    .logo {
        line-height: 1;

        img {
            max-height: 36px;
            margin-right: 8px;
        }

        h1 {
            font-size: 30px;
            margin: 0;
            font-weight: 700;
            color: var(--heading-color);
        }
    }

    .navmenu {
        order: 3;
    }

    .navbar {
        .nav-link, .dropdown-toggle
        {
            margin-left: 16px;
            margin-right: 16px;

            &:after {
                margin-left: 0px;
                vertical-align: 0px;
                border: none;
            }

            &:focus,
            &:hover,
            &.active {
                margin-left: 0px;
                margin-right: 0px;

                &:before {
                    content: "<";
                    width: 16px;
                    display: inline-block;
                    text-align: right;
                }
                &:after {
                    content: "/>";
                    width: 16px;
                    display: inline-block;

                    margin-left: 0px;
                    vertical-align: 0px;
                    border: none;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .header {
        .logo {
            order: 1;
        }

        .navmenu {
            order: 3;
        }
    }
}

.scrolled {
    .header {
        box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
        --background-color: rgba(20, 20, 31, 1);
    }
}