/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 120px 0 60px 0;
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, var(--background-color) 0%, color-mix(in srgb, var(--surface-color), transparent 10%) 100%), url("../img/hero-bg.jpg") center center no-repeat;
    background-size: cover;
}

.hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.hero p {
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    margin: 5px 0 30px 0;
    font-size: 20px;
    font-weight: 400;
}

.hero .btn-enter {
    color: $accent1;
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 36px;
    border-radius: 4px;
    transition: 0.5s;
    border: 2px solid $accent1;
}

.hero .btn-enter:hover {
    color: $dark;
    background: $accent1;
}

.hero .btn-watch-video {
    font-size: 16px;
    transition: 0.5s;
    margin-left: 25px;
    color: var(--default-color);
    font-weight: 600;
}

.hero .btn-watch-video i {
    color: var(--accent-color);
    font-size: 32px;
    transition: 0.3s;
    line-height: 0;
    margin-right: 8px;
}

.hero .btn-watch-video:hover {
    color: var(--accent-color);
}

.hero .btn-watch-video:hover i {
    color: color-mix(in srgb, var(--accent-color), transparent 15%);
}

.hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 640px) {
    .hero h1 {
        font-size: 24px;
        line-height: 36px;
    }

    .hero p {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    .hero .btn-enter {
        font-size: 13px;
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

/*--------------------------------------------------------------
# Hero Section Animation
--------------------------------------------------------------*/
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.hero {
    background: $dark;

    .btn-enter:hover {
        color: black;
        background: $accent1;
    }

    h1 {
        color: $accent1;
        font-family: MorePerfectDOSVGA;
        font-weight: 500;
        word-spacing: -24px;
        word-spacing: -0.5em;
        white-space: nowrap;

        &:before {
            content: 'C:\\>';
        }

        &:after {
            content: '_';
            animation: blinker 1s step-start infinite;
        }
    }
}

.error-hero {
    background: $dark;

    .btn-enter{
        max-width: 140px;

        &:hover {
            color: black;
            background: $accent1;
        }
    }

    h1 {
        font-size: 2rem;
        word-spacing: normal;

        &:after {
            content: '';
            animation: none;
        }
    }

    h2 {
        font-size: 2rem;
        color: $accent1;
        font-family: MorePerfectDOSVGA;
        font-weight: 500;
        white-space: nowrap;

        &:before {
            content: 'C:\\>';
        }

        &:after {
            content: '_';
            animation: blinker 1s step-start infinite;
        }
    }
}

@font-face {
    font-family: 'MorePerfectDOSVGA';
    src: local('Roboto'), url('../fonts/moreperfectdosvga.ttf');
    font-display: swap;
}
