.local {
    .content {
        position: relative;

        h2 {
			font-size: 2rem;
			font-weight: 700;
        }

        .flag {
            font-size: 1.5vw;
            color: var(--accent-color);
            page-break-inside: avoid;
            font-family: monospace;
            white-space: pre;
            word-wrap: normal;
            opacity: 0.2;
        }
        
        .title {
            position: absolute;
            margin-inline: auto; 
            width: fit-content;
            z-index: 5;
        }
    }
}
