/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services .service-item {
    position: relative;
    padding-top: 20px;
}

.services .service-item .icon {
    background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
    width: 72px;
    height: 72px;
    position: relative;
    margin-right: 15px;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
}

.services .service-item .icon i {
    color: var(--accent-color);
    font-size: 32px;
    z-index: 2;
    position: relative;
}

.services .service-item .title {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
}

.services .service-item .title a {
    color: var(--heading-color);
}

.services .service-item .title a:hover {
    color: var(--accent-color);
}

.services .service-item .description {
    font-size: 14px;
}

.services .service-item:hover .icon {
    background-color: var(--accent-color);
}

.services .service-item:hover .icon i {
    color: var(--contrast-color);
}