$white: #ffffff;

//https://huemint.com/bootstrap-plus/#palette=d8efee-ffffff-14141f-4e3297-5d5896-3f244a-36e2c2-007e73-a6dfd8
$light: #d8efee;
$dark: #14141f;
$primary: #4e3297;
$secondary: #5d5896;
$info: #3f244a;
$accent1: #36e2c2;
$accent2: #007e73;
$accent3: #a6dfd8;
$success: #00a965;
$warning: #e1cd00;
$danger: #f12300;

$colors: () !default;
$colors: map-merge((
            /* Background color for the entire website, including individual sections */
            "background-color": $white,

            /* Default color used for the majority of the text content across the entire website */
            "default-color": $dark,

            /* Color for headings, subheadings and title throughout the website */
            "heading-color": $info,

            /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
            "accent-color": $primary,

            /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
            "surface-color": $white,

            /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
            "contrast-color": $accent1,
        ), $colors);

:root {
    @each $color, $value in $colors {
        --#{$color}: #{$value};
    }
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
$nav-colors: (
    ) !default;
$nav-colors: map-merge((
            /* The default color of the main navmenu links */
            "nav-color": rgba(255, 255, 255, 0.8),

            /* Applied to main navmenu links when they are hovered over or active */
            "nav-hover-color": $white,

            /* Used as the background color for mobile navigation menu */
            "nav-mobile-background-color": $white,

            /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
            "nav-dropdown-background-color": $white,

            /* Used for navigation links of the dropdown items in the navigation menu. */
            "nav-dropdown-color": #444444,

            /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
            "nav-dropdown-hover-color": #5846f9,
        ), $nav-colors
);

:root {
    @each $color, $value in $nav-colors {
        --#{$color}: #{$value};
    }
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

.light-background {
    --background-color: #f9f8ff;
    --surface-color: #ffffff;
}



$dark-colors: () !default;
$dark-colors: map-merge((
            "background-color": $dark,
            "default-color": $white,
            "heading-color": $white,
            "accent-color": $accent1,
            "surface-color": #202020,
            "contrast-color": $white,
        ), $dark-colors);
.dark-background {
    @each $color, $value in $dark-colors {
        --#{$color}: #{$value};
    }
}

$accent-colors: () !default;
$accent-colors: map-merge((
            "background-color": $secondary,
            "default-color": $white,
            "heading-color": $white,
            "accent-color": $accent1,
            "surface-color": $primary,
            "contrast-color": $white,
        ), $accent-colors);
.accent-background {
    @each $color, $value in $accent-colors {
        --#{$color}: #{$value};
    }
}

$white: #ffffff;

$accent-color: var(--accent-color);
$background-color-t50: color-mix(in srgb, var(--background-color), transparent 50%);
$contrast-color: var(--contrast-color);
$default-color: var(--default-color);
$default-color-t70: color-mix(in srgb, var(--default-color), transparent 70%);
$default-color-t80: color-mix(in srgb, var(--default-color), transparent 80%);
$heading-font: var(--heading-font);
$surface-color: var(--surface-color);
