@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main>
    <component type="typeof(PricingSection)" render-mode="Static" param-Packages="Model.Packages" param-AddOns="Model.AddOns" />
</main>
