@code {
    [Parameter]
    public required List<FaqItemModel> Faqs { get; set; }
}

<div class="accordion accordion-flush" id="faqAccordion">
    @foreach (var faq in Faqs)
    {
        <FrequentlyAskedQuestion Faq=@faq />
    }
</div>
